/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(135deg, #070764, #970147); /* Fondo suave y atractivo */
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  color: #333;
}

/* Header */
.head {
  text-align: center;
  padding: 20px;
  background: linear-gradient(135deg, #070764, #970147);
  border-radius: 0 0 10px 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h1 {
  font-family: 'Times New Roman', Times, serif;
  font-size: 3rem;
  text-align: center;
  background: linear-gradient(90deg, #ff5f94, #8d8c50);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 20px;
}

/* Navegación */
.nav_bar {
  background: linear-gradient(135deg, #070764, #970147);
  overflow: hidden;
}

.nav_bar ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  padding: 0;
}

.nav_bar li {
  margin: 0 10px;
}

.nav_bar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.nav_bar li a:hover {
  background-color: #be2ef7;
}

/* Estructura principal */
p {
  font-size: 1rem;
  margin-bottom: 4px;
  padding: 4px;
  line-height: 1.5;
  color: #555;
}
#inicio,
#sobre-nosotros,
#galeria-de-imagenes,
#multimedia,
#proyectos-recientes {
  margin: 2vh;
  padding: 2vh;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#inicio h2,
#sobre-nosotros h2,
#galeria-de-imagenes h2,
#multimedia h2,
#proyectos-recientes h2 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 4vh;
  color: #5a3e36;
  margin: 4px 0;
  text-align: center;
}
.desple {
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  animation: fadeIn 1s ease-in-out;
}

.sections {
  padding: 1vh;
  border: 1.5px solid #49006b;
  border-radius: 7px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-bottom: 10px;
}

.sections:hover {
  background-color: #b092f7;
}

.desple-toggle {
  font-weight: bold;
  margin-top: 10px;
  transition: color 0.3s;
  cursor: pointer;
}

.desple-toggle:hover {
  color: #970147;
}

.desple-content {
  margin-left: 20px;
  margin-bottom: 10px;
  color: #2b2a29;
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 0.4s, transform 0.4s;
}

.desple-content.active {
  opacity: 1;
  transform: translateY(0);
}
#articulo-destacado{
  margin: 2vh;
  padding: 2vh;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
/* Enlaces Externos */
.external-links {
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}

.external-links li {
  margin-bottom: 10px;
}

.external-links a {
  color: #007BFF;
  text-decoration: none;
  transition: color 0.3s;
}

.external-links a:hover {
  color: #f80275;
}

/* Multimedia */
.slider-container {
  width: 100%;
  overflow: hidden; /* Oculta las tarjetas fuera del contenedor */
  position: relative;
}

/* Slider principal */
.slider {
  display: flex; /* Alinea las tarjetas horizontalmente */
  transition: transform 0.5s ease; /* Animación suave al cambiar de posición */
}

/* Tarjetas */
.card {
  min-width: 250px; /* Ancho fijo para cada tarjeta */
  height: 200px; /* Altura fija */
  margin: 0 10px; /* Espaciado entre tarjetas */
  background-color: #f9f9f9; /* Fondo claro */
  border: 2px solid #ddd; /* Borde */
  border-radius: 10px; /* Bordes redondeados */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra */
  opacity: 0.7; /* Opacidad reducida para las tarjetas secundarias */
  transform: scale(0.9); /* Escala reducida */
  transition: opacity 0.5s ease, transform 0.5s ease; /* Transiciones suaves */
}

/* Tarjeta destacada (del medio) */
.card.active {
  opacity: 1; /* Opacidad completa */
  transform: scale(1.1); /* Escala aumentada */
}

/* Imágenes dentro de las tarjetas */
.card img {
  width: 100%; /* La imagen ocupa todo el ancho de la tarjeta */
  height: 100%; /* La imagen ocupa todo el alto de la tarjeta */
  object-fit: cover; /* Ajusta la imagen sin deformarla */
  border-radius: 10px; /* Bordes redondeados */
}
.slider:hover {
  transform: scale(1.1);
}
video {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  border: 2px solid #333;
  display: block;
  margin: 0 auto;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
video:hover {
  transform: scale(1.05);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
}

audio {
  width: 300px;
  display: block;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  border: 2px solid #333;
}

/* Tablas */
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}

th,
td {
  padding: 10px;
  text-align: center;
  border: 1px solid #ddd;
}

th {
  background-color: #4cafa2;
  color: white;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

tr:hover {
  background-color: #f1f1f1;
}

@media (max-width: 600px) {
  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }

  thead tr {
    display: none;
  }

  td {
    border: none;
    position: relative;
    padding-left: 50%;
  }

  td:before {
    content: attr(data-label);
    position: absolute;
    left: 0;
    width: 50%;
    padding-right: 10px;
    white-space: nowrap;
    font-weight: bold;
  }
}

/* Formulario */
form {
  width: 100%;
  max-width: 500px;
  margin: 0 auto 100px;
  padding: 20px;
  border: 1px solid #1f0058;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}

/* Título del formulario */
.form-title {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 4vh;
  color: #f3f2f7;
  margin: 4px 0;
  text-align: center;
}

/* Contenedores de campos */
div {
  margin-bottom: 15px;
}

/* Etiquetas */
label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #5a3e36;
}

/* Inputs y textarea */
input,
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #340064;
  border-radius: 5px;
  font-size: 16px;
  font-family: 'Times New Roman', Times, serif;
}

textarea {
  resize: none; /* Deshabilita el redimensionamiento */
  height: 100px;
  box-sizing: border-box;
}

/* Botón de envío */
button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #007BFF;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #53f84e;
}

/* Estado de foco */
input:focus,
textarea:focus {
  border-color: #007BFF;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}
/* Estilo para el select */
select {
  width: 100%;
  padding: 10px;
  border: 1px solid #340064;
  border-radius: 5px;
  font-size: 16px;
  font-family: 'Times New Roman', Times, serif;
  background-color: #ffffff; /* Fondo blanco */
  color: #333; /* Texto oscuro */
  -webkit-appearance: none; /* Elimina el estilo predeterminado del navegador */
  -moz-appearance: none;
  appearance: none;
  background-image: url("/assets/down-arrow.png");
  background-position: right 10px center;
  background-repeat: no-repeat;
  background-size: 25px 25px;
  cursor: pointer;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

/* Estilo cuando está en foco */
select:focus {
  border-color: #007BFF;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}
/* Tablas */
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

th,
td {
  padding: 10px;
  text-align: center;
  border: 1px solid #ddd;
}

th {
  background-color: #4CAF50;
  color: white;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

tr:hover {
  background-color: #f1f1f1;
}


/* Footer */
footer {
  color: #272727;
  text-align: center;
  padding: 20px;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

footer p {
  margin: 0;
  font-size: 14px;
  font-family: Arial, sans-serif;
}
.social-icons {
  display: flex;
  justify-content: center;
  gap: 10px;
  list-style: none;
  padding: 0;
}

.social-icons img {
  width: 24px;
  height: 24px;
}

@media (max-width: 600px) {
  footer {
    padding: 5px;
  }

  footer p {
    font-size: 12px;
  }
}

/* Animaciones */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

html {
  scroll-behavior: smooth;
}